/* Estilos generales */
.App {
  text-align: center;
}

/* Estilos para el encabezado */
header {
  background-color: #007bff;
  color: white;
  padding: 20px;
}

/* Estilos para los botones */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

/* Agrega estilos adicionales según sea necesario para los componentes individuales */
